# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.pytest_cache
nosetests.xml
.cache
.venv
venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Node.js (если будет фронтенд)
node_modules/
npm-debug.log

# Временные файлы
*.tmp
*.temp 